@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(236, 232, 232);
}

/* se arregla para que quede un nav horizontal */

.port-nav{
    position: sticky;
    top: 0; 
    display: flex;
    width: 100%;
    min-height: 2rem;
    margin: 0;
    background-color: black;

}

.port-nav ul{
    list-style: none;
    display: flex;
    justify-content:center;    
}

.port-nav a {
    text-decoration: none;
    color: rgb(127, 127, 127);
    font-family: "Ubuntu";
    font-size: 3vw;
    padding: 1vh 6vw;
}
.port-nav a:hover {
    color: aliceblue;
}


/* se comienza a dar estilo al header */

.port-header{
    font-family: 'Ubuntu';
    font-size: 4vw;
    font-weight: bold;
    min-height: 30vw;
    margin: 0 auto;
    text-align: center;
    padding: 10px 50px;
    background: linear-gradient(110deg,rgb(146, 146, 146) 0%,rgb(236, 232, 232)50%,rgb(146, 146, 146));
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;}

.port-art{
    background-color: rgb(210, 210, 210);
    border: 2px groove rgb(170, 170, 168);
    border-radius: 10%;
    padding: 3vw;
    margin: 10vh 0;
    width: 80%;
}

.port-text-art{
    background-color: rgb(214, 214, 214);
    border: 2px groove rgb(170, 170, 168);
    box-shadow: 3px 3px 1px -2px rgb(146, 146, 146);
    font-family: "Roboto Condensed";
    padding: 2em;
    border-radius: 30%;
    width: 60%;
    margin: 5vh auto;
    
}

.port-title-art{
    font-size: 170%;
    text-align: center;
}
.port-title-art.main{
    margin: 10vh 10vw;
    font-size: 300%;
}

.port-proyect-title{
    text-decoration: none;
    font-size: 5vw;
    color: rgb(54, 54, 54);
    transition: text-shadow .2s;
}

.port-proyect-title:hover{
    
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}